.copyright-footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    position: relative;
    margin-top: auto;
}

/* For normal desktop view */
.copyright-footer::before {
    content: '\00a9 2024 - Cornerlotvisuals (JM0999799-P). All Rights Reserved.';
    color: var(--secondary-color);
    font-size: var(--button-font-size); /* Assuming --button-font-size is for desktop */
    font-family: var(--font-family);
    display: block;
    margin: 0;
}

/* For mobile view */
@media only screen and (max-width: 600px) { /* Adjust the max-width as needed */
    .copyright-footer::before {
        font-size: 12px; /* Set font size to 12px for mobile */
    }
}