body {
    display: flex; /* Use flexbox for the body */
}

#contentcontainer {
    display: flex; /* Use flexbox for the content container */
    flex-grow: 1; /* Allow content container to grow and fill remaining space */
}

#leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
}

#formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 600px;
}

form {
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    max-width: 100%; /* Ensure the form is not wider than the viewport */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--primary-color); /* Adjusted text color to match primary color */
}

input,
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
}

textarea {
    height: 80px; /* Adjust the height as needed */
    resize: none; /* Disable vertical resizing */
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
    background-color: var(--tertiary-color);
}

a, p, h2 {
	text-decoration: none;
	color: var(--secondary-color);
	font-family: var(--font-family);
	text-align: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
	#contentcontainer {
	    display: flex;
	    flex-direction: column; /* Stack items vertically on mobile */
	    justify-content: center; /* Center items horizontally */
	    align-items: center; /* Center items vertically */
	    padding-top: 100px;
	}

    #leftContent {
        width: 80%; /* Take up full width on mobile */
    }

    #formContainer {
        width: 80%; /* Take up full width on mobile */
    }
}
