	#topNavigation {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		transition: height 0.5s ease, all 0.6s ease; /* Combine transitions */
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1000;
		-webkit-backdrop-filter: var(--banner-blur);
		backdrop-filter: var(--banner-blur);
	}

	#topNavigation #logo {
		width: 120px;
		height: auto;
		margin-right: 20px;
		margin-left: 10px;
		filter: invert(1);
		transition: all 0.3s ease;
	}

	#topNavigation #navigationButtons {
		display: flex;
		margin-left: auto; /* Add this line to push buttons to the right */
	}

	#topNavigation button {
		font-family: var(--font-family);
		font-size: var(--main-button-font-size);
		color: var(--secondary-color);
		padding: 8px;
		margin-right: 40px;
		cursor: pointer;
		border: none;
		background: none;
		text-decoration: none;
		transition: all 0.3s ease;
	}

	#topNavigation button:hover,
	#topNavigation button.active {
		font-weight: bold;
		text-decoration: underline;
		color: var(--tertiary-color);
	}

	#navigationLinks {
		display: flex;
	}

@media only screen and (max-width: 1259px) {
    @keyframes slideInFromTop {
        from {
            transform: translateY(-120%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slideOutToTop {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-120%);
        }
    }
	
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

    #topNavigation.active {
        position: fixed;
		top: 0;
		left: 0;
		right: 0;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 20px;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        -webkit-backdrop-filter: var(--banner-blur);
        backdrop-filter: var(--banner-blur);
    }
	
	#topNavigation #logo {
		width: 80px;
		height: auto;
		margin-right: 20px;
		margin-left: 5px;
		filter: invert(1);
	}
	

    #topNavigation:not(.active) #navigationButtons {
        display: flex;
		flex-direction: column; /* Display buttons in a column */
		transform: translateY(-150%);
		transition: all 0.8s ease;
		animation: fadeOut 0.3s;
		margin-left: 0;
    }

    #topNavigation.active #navigationButtons {
        display: flex; /* Show buttons in hamburger menu view */
        flex-direction: column; /* Display buttons in a column */
        animation: slideInFromTop 0.8s ease, fadeIn 0.3s ease;
		margin-left: 0;
    }
	
	#topNavigation:not(.active) button {
		padding-top: 60px;
		font-size: 2rem;
	}
	
	#topNavigation.active button {
		padding-top: 60px;
		font-size: 2rem;
	}
	
    #hamburgerMenu {
        display: block;
        cursor: pointer;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        position: relative;
    }

    #hamburgerMenu .bar {
        width: 100%;
        height: 2px;
        background-color: var(--secondary-color);
        margin: 6px 0;
        transition: 0.5s;
    }

    #topNavigation.active #hamburgerMenu .bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #topNavigation.active #hamburgerMenu .bar:nth-child(1) {
        transform: rotateZ(-45deg);
    }

    #topNavigation.active #hamburgerMenu .bar:nth-child(2) {
        transform: rotateZ(45deg);
    }
}
