	.video-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-top: 75px;
    }

    .video-container iframe {
        width: 100%;
        height: calc(100vw * 9 / 16);
        position: relative; /* Change from absolute to relative */
        z-index: 0;
    }

	.text-container {
		width: 100%;
		height: 100%;
	}
	
	.text-container p {
		font-family: var(--font-family);
		color: var(--secondary-color);
	}
	
	.text-container .title {
		font-size: var(--title-text-size);
	}
	
	.text-container .description {
		font-size: var(--description-text-size);
	}
	
	.prevnext {
		display: flex;
		justify-content: flex-end; /* Move the #prevnext div to the right */
		align-items: center;
		margin-right: 150px; /* Adjust the margin as needed */
	}
	
	.prevnext p {
		font-family: var(--font-family);
		color: var(--secondary-color);
	}

	.prevnext button {
		font-family: var(--font-family);
		font-size: var(--main-button-font-size);
		color: var(--secondary-color);
		padding: 8px;
		margin-right: 0px;
		cursor: pointer;
		border: none;
		background: none;
		text-decoration: none;
		transition: all 0.3s ease;
	}

	.prevnext button:hover,
	.prevnext button.active {
		font-weight: bold;
		text-decoration: underline;
		color: var(--tertiary-color);
	}