
	@charset "UTF-8";

	@font-face {
		font-family: 'Montserrat';
		src: url('https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2') format('woff2');
		font-display: swap;
	}

	:root {
		--font-family: 'Montserrat', sans-serif;
		--button-font-size: 10px;
		--main-button-font-size: 15px;
		--title-text-size: 30px;
		--description-text-size: 20px;
		--overlay-text-size: 18px;
		--banner-blur: blur(5px);
		--primary-color: #1d1d1d;
		--secondary-color: #fdfdfd;
		--tertiary-color: #ffbf19;
	}

	body {
		font-family: var(--font-family);
		margin: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: var(--primary-color);
	}

	#topNavigation {
		position: fixed;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1000;
		-webkit-backdrop-filter: var(--banner-blur);
		backdrop-filter: var(--banner-blur);
	}

	#topNavigation #logo {
		width: 120px;
		height: auto;
		margin-right: 20px;
		margin-left: 10px;
		filter: invert(1);
	}

	#topNavigation #navigationButtons {
		display: flex;
	}

	#topNavigation button {
		font-family: var(--font-family);
		font-size: var(--main-button-font-size);
		color: var(--secondary-color);
		padding: 8px;
		margin-right: 40px;
		cursor: pointer;
		border: none;
		background: none;
		text-decoration: none;
		transition: all 0.3s ease;
	}

	#topNavigation button:hover,
	#topNavigation button.active {
		font-weight: bold;
		text-decoration: underline;
		color: var(--tertiary-color);
	}

	#navigationLinks {
		display: flex;
	}

	main {
		flex: 1;
		margin: 20px;
		margin-top: 80px;
		height: 100vh;
	}