
	@charset "UTF-8";

	@font-face {
		font-family: 'Montserrat';
		src: url('https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2') format('woff2');
		font-display: swap;
	}

	@font-face {
    font-family: conthrax;
    src: url('../font/conthrax.otf');
}

	:root {
		--font-family: 'Montserrat', sans-serif;
		--button-font-size: 0.625rem; /* 10px */
		--main-button-font-size: 0.9375rem;  /* 15px */
		--title-text-size: 1.875rem;  /* 30px */
		--description-text-size: 1.25rem;  /* 20px */
		--list-text-size: 0.75rem;  /* 12px */
		--overlay-text-size: 1.125rem;  /* 18px */
		--banner-blur: blur(5px);  /* 5px */
		--primary-color: #1d1d1d;
		--secondary-color: #fdfdfd;
		--tertiary-color: #ffbf19;
	}

	body {
		font-family: var(--font-family);
		margin: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: var(--primary-color);
		scroll-behavior: smooth; /* Add smooth scrolling behavior */
		overscroll-behavior: contain; /* Contain overscroll effect */
	}

	